<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Employee churn prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="city_development_index" placeholder="City Development Index" required="required" /><br>
        <input type="text" name="training_hours" placeholder="Training Hours" required="required" /><br>
        <input type="text" name="gender" placeholder="Gender" required="required" /><br>
        <input type="text" name="relevent_experience" placeholder="Relevant Experience" required="required" /><br>
        <input type="text" name="enrolled_university" placeholder="Enrolled University" required="required" /><br>
        <input type="text" name="education_level" placeholder="Education Level" required="required" /><br>
        <input type="text" name="major_discipline" placeholder="Major Discipline" required="required" /><br>
        <input type="text" name="experience" placeholder="Experience" required="required" /><br>
        <input type="text" name="company_size" placeholder="Company Size" required="required" /><br>
        <input type="text" name="company_type" placeholder="Company Type" required="required" /><br>
        <input type="text" name="last_new_job" placeholder="Last New Job" required="required" /><br>

        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>
